<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecdo.adm.api.delivery.mapper.AdGroupMapper">

     <resultMap id="baseRsMap" type="com.tecdo.adm.api.delivery.entity.AdGroup">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

        <result column="campaign_id" property="campaignId"/>
        <result column="name" property="name"/>
        <result column="click_url" property="clickUrl"/>
        <result column="deeplink" property="deeplink"/>
        <result column="imp_track_urls" property="impTrackUrls"/>
        <result column="click_track_urls" property="clickTrackUrls"/>
        <result column="daily_budget" property="dailyBudget"/>
        <result column="bid_strategy" property="bidStrategy"/>
        <result column="opt_price" property="optPrice"/>
    </resultMap>

    <select id="customPage" resultMap="baseRsMap">
        SELECT DISTINCT
            g.*
        FROM
            ad_group g
            LEFT JOIN target_condition t ON g.id = t.ad_group_id
            LEFT JOIN campaign c ON g.campaign_id = c.id
            LEFT JOIN ad ON ad.group_id = g.id
        where 1=1
        <if test="adGroup.id != null">
            and g.id = #{adGroup.id}
        </if>
        <if test="adGroup.name != null and adGroup.name != ''">
            and g.name like concat(concat('%', #{adGroup.name}),'%')
        </if>
        <if test="adGroup.bidStrategy != null">
            and g.bid_strategy = #{adGroup.bidStrategy}
        </if>
        <if test="campaignIds != null and campaignIds.size > 0">
           and g.campaign_id IN
            <foreach collection="campaignIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="campaignName != null and campaignName != ''">
            and c.name like concat(concat('%', #{campaignName}),'%')
        </if>
        <if test="adIds != null and adIds.size > 0">
           and ad.id IN
            <foreach collection="adIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="adName != null and adName != ''">
            and ad.name like concat(concat('%', #{adName}),'%')
        </if>
        <if test="affiliateIds != null and affiliateIds.size > 0">
            and t.attribute = 'affiliate' and
            CASE t.operation
                WHEN 'include' THEN
                    <foreach collection="affiliateIds" item="item" index="index" open="(" close=")" separator="OR">
                        FIND_IN_SET(#{item}, t.`value`)
                    </foreach>
                WHEN 'exclude' THEN NOT
                    <foreach collection="affiliateIds" item="item" index="index" open="(" close=")" separator="OR">
                        FIND_IN_SET(#{item}, t.`value`)
                    </foreach>
                WHEN 'eq' THEN
                    <foreach collection="affiliateIds" item="item" index="index" open="(" close=")" separator="OR">
                        t.`value` = #{item}
                    </foreach>
                END
        </if>
        <if test="countries != null and countries.size > 0">
            and t.attribute = 'device_country' and
            CASE t.operation
                WHEN 'include' THEN
                    <foreach collection="countries" item="item" index="index" open="(" close=")" separator="OR">
                        FIND_IN_SET(#{item}, t.`value`)
                    </foreach>
                WHEN 'exclude' THEN NOT
                    <foreach collection="countries" item="item" index="index" open="(" close=")" separator="OR">
                        FIND_IN_SET(#{item}, t.`value`)
                    </foreach>
                WHEN 'eq' THEN
                    <foreach collection="countries" item="item" index="index" open="(" close=")" separator="OR">
                        t.`value` = #{item}
                    </foreach>
                END
        </if>
        <choose>
            <when test="adGroup.status == null">
                and g.status != 2
            </when>
            <otherwise>
                and g.status = #{adGroup.status}
            </otherwise>
        </choose>
    </select>

    <select id="listIdAndName" resultType="com.tecdo.starter.mp.vo.BaseVO">
        select id, name from ad_group
    </select>

    <select id="listIdByLikeCampaignName" resultType="java.lang.Integer">
        select
            g.id
        from
            ad_group g
            left join campaign c on c.id = g.campaign_id
        where 1=1
         <if test="campaignName != null and campaignName != ''">
            and c.name like concat(concat('%', #{campaignName}),'%')
        </if>
    </select>

    <select id="listIdByLikeAdGroupName" resultType="java.lang.Integer">
        select
            id
        from
            ad_group
        where 1=1
         <if test="name != null and name != ''">
            and name like concat(concat('%', #{name}),'%')
        </if>
    </select>

    <select id="listIdByAdvIds" resultType="java.lang.Integer">
        select
            g.id
        from
            ad_group g
            left join campaign c on c.id = g.campaign_id
        where 1=1
            and c.adv_id in
            <foreach collection="advIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
    </select>

</mapper>
