<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecdo.adm.api.doris.mapper.CheatingDataMapper">

  <select id="getCheatingData" resultType="com.tecdo.adm.api.doris.entity.CheatingData">
    SELECT hash_code as hashCode,
           cheat_key as cheatKey,
           reason
    FROM `cheating`
    WHERE hash_code > #{hashCode}
      and end_time > #{endTime}
    order by hash_code
      limit #{batchSize}
  </select>

  <select id="selectSize" resultType="com.tecdo.adm.api.doris.entity.CheatingDataSize">
    SELECT reason, COUNT(1) as dataSize
    FROM `cheating`
    WHERE end_time > #{endTime}
    GROUP BY reason
  </select>

</mapper>
