<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecdo.adm.api.doris.mapper.ReportMapper">

    <select id="getAeDailyReportInUsWest" resultType="com.tecdo.adm.api.doris.entity.Report">
        SELECT
            campaign_id as campaignId,
            sum( imp_count ) as impCount,
            sum( click_count ) as clickCount,
            sum( imp_success_price_total ) / 1000 as impSuccessPriceTotal
        FROM
            pac_dsp_report
        WHERE
            campaign_id in
            <foreach collection="campaignIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            AND report_hour in
            <foreach collection="dateHours" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        GROUP BY campaign_id
    </select>


    <select id="getReportSpentForFlatAds" resultType="com.tecdo.adm.api.delivery.dto.SpentDTO">
        SELECT
            sum(imp_count) as imp,
            sum(imp_success_price_total)/1000 as cost
        FROM
            pac_dsp_report
        WHERE
            affiliate_id = #{affId}
            and report_date = #{createDate}
    </select>

    <select id="getRepostEventForLazada" resultType="com.tecdo.adm.api.delivery.dto.ReportEventDTO">
        SELECT
            sum(event1_count) as event1,
            sum(event2_count) as event2,
            sum(event3_count) as event3
        FROM
            pac_dsp_report
        WHERE
            campaign_id in
            <foreach collection="campaignIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            and report_date = #{date}
            and country = #{country}
    </select>

</mapper>
