<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecdo.adm.api.doris.mapper.ReportMapper">

    <select id="getAeDailyReportInUsWest" resultType="com.tecdo.adm.api.doris.entity.Report">
        SELECT
            campaign_id as campaignId,
            sum( imp_count ) as impCount,
            sum( click_count ) as clickCount,
            sum( imp_success_price_total ) / 1000 as impSuccessPriceTotal
        FROM
            pac_dsp_report
        WHERE
            campaign_id in
            <foreach collection="campaignIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            AND report_hour in
            <foreach collection="dateHours" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        GROUP BY campaign_id
    </select>


    <select id="getReportSpentForFlatAds" resultType="com.tecdo.adm.api.delivery.dto.SpentDTO">
        SELECT
            sum(imp_count) as imp,
            sum(imp_success_price_total)/1000 as cost
        FROM
            pac_dsp_report
        WHERE
            affiliate_id = #{affId}
            and report_date = #{createDate}
    </select>

    <select id="getDataImpCountGtSize" resultType="com.tecdo.adm.api.doris.entity.BundleData">
        SELECT country,
               bundle_id      as bundle,
               ad_format      as adFormat,
               ad_width       as adWidth,
               ad_height      as adHeight,
               SUM(imp_count) AS impCount
        FROM `pac_dsp_report`
        WHERE report_date >= #{startDate}
          AND report_date &lt; #{endDate}
        GROUP BY country, bundle, adFormat, adWidth, adHeight
        HAVING impCount >= #{size}
    </select>

    <select id="getBundleData" resultType="com.tecdo.adm.api.doris.entity.BundleData">
        SELECT country,
               bundle_id                                    as bundle,
               ad_format                                    as adFormat,
               ad_width                                     as adWidth,
               ad_height                                    as adHeight,
               SUM(win_count) / SUM(response_count)         AS winRate,
               SUM(bid_price_total) / SUM(response_count)   AS bidPrice,
               (SUM(win_count) / SUM(response_count)) /
               (SUM(bid_price_total) / SUM(response_count)) AS k
        FROM `pac_dsp_report`
        WHERE report_hour = #{reportHour}
        GROUP BY country, bundle, adFormat, adWidth, adHeight
        HAVING winRate IS NOT NULL AND bidPrice IS NOT NULL
    </select>

</mapper>
