<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecdo.adm.api.doris.mapper.ReportMapper">

    <select id="getAeDailyReportInUsWest" resultType="com.tecdo.adm.api.doris.entity.Report">
        SELECT
            campaign_id as campaignId,
            sum( imp_count ) as impCount,
            sum( click_count ) as clickCount,
            sum( price_total ) / 1000 as impSuccessPriceTotal
        FROM
            pac_dsp_report
        WHERE
            campaign_id in
            <foreach collection="campaignIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            AND report_hour in
            <foreach collection="dateHours" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        GROUP BY campaign_id
    </select>


    <select id="getReportSpentForFlatAds" resultType="com.tecdo.adm.api.delivery.dto.SpentDTO">
        SELECT
            sum(imp_count) as imp,
            sum(price_total)/1000 as cost
        FROM
            pac_dsp_report
        WHERE
            affiliate_id in
            <foreach collection="affIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            and report_date = #{createDate}
    </select>

    <select id="getDataImpCountGtSize" resultType="com.tecdo.adm.api.doris.entity.BundleData">
        SELECT country,
               bundle_id      as bundle,
               ad_format      as adFormat,
               ad_width       as adWidth,
               ad_height      as adHeight,
               SUM(imp_count) AS impCount
        FROM `pac_dsp_report_for_auto_explore`
        WHERE report_date >= #{startDate}
          AND report_date &lt; #{endDate}
        GROUP BY country, bundle, adFormat, adWidth, adHeight
        HAVING impCount >= #{size}
    </select>

    <select id="getBundleData" resultType="com.tecdo.adm.api.doris.entity.BundleData">
        SELECT country,
               bundle_id                                    as bundle,
               ad_format                                    as adFormat,
               ad_width                                     as adWidth,
               ad_height                                    as adHeight,
               SUM(win_count) / SUM(response_count)         AS winRate,
               SUM(bid_price_total) / SUM(response_count)   AS bidPrice,
               (SUM(win_count) / SUM(response_count)) /
               (SUM(bid_price_total) / SUM(response_count)) AS k
        FROM `pac_dsp_report`
        WHERE report_date = date(#{reportHour}) and report_hour = #{reportHour}
        GROUP BY country, bundle, adFormat, adWidth, adHeight
        HAVING winRate IS NOT NULL AND bidPrice IS NOT NULL
    </select>

    <select id="listECPX" resultType="com.tecdo.adm.api.doris.dto.ECPX">
        SELECT
            r.country as country,
            r.bundle_id as bundle,
            r.ad_format as adFormat,
            sum(price_total)/1000 / sum(click_count) as eCPC,
            sum(price_total)/1000 / sum(event1_count) as eCPAEvent1,
            sum(price_total)/1000 / sum(event2_count) as eCPAEvent2,
            sum(price_total)/1000 / sum(event3_count) as eCPAEvent3,
            sum(price_total)/1000 / sum(event10_count) as eCPAEvent10,
            sum(price_total)/1000 / sum(event11_count) as eCPS
        FROM
            ads.dsp_report_fall_four r
        WHERE
            r.create_date >= #{startDate} AND r.create_date &lt;= #{endDate}
        GROUP BY
            r.country,
            r.bundle_id,
            r.ad_format
    </select>

    <select id="getBundleCostByDay" resultType="com.tecdo.adm.api.doris.dto.BundleCost">
        SELECT
            bundle_id              as bundleId,
            ad_group_id            as adGroupId,
            sum(imp_count)         as impCount,
            sum(click_count)       as clickCount,
            sum(price_total) / 1000   as cost
        FROM
            ads.dsp_report_fall_one
        WHERE
            create_date = #{createDate}
        GROUP BY
            bundle_id, ad_group_id
    </select>

    <select id="getAutoBundleInfoList" resultType="com.tecdo.adm.api.doris.dto.AutoBundle">
        SELECT
        bundle_id        as bundleId,
        ad_group_id      as adGroupId,
        SUM(click_count) as clickCount,
        SUM(imp_count)   as impCount,
        SUM(price_total) / 1000 as bidPriceTotal,
        SUM(ad_estimated_commission) as adEstimatedCommission
        FROM
            ads.dsp_report_fall_one
        WHERE ad_group_id IN
        <foreach collection="adGroupIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and create_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY
            ad_group_id, bundle_id
    </select>

    <select id="getAutoBundleInfo" resultType="com.tecdo.adm.api.doris.dto.AutoBundle">
        SELECT
            bundle_id        as bundleId,
            ad_group_id      as adGroupId,
            SUM(click_count) as clickCount,
            SUM(imp_count)   as impCount,
            SUM(CASE WHEN create_date BETWEEN #{startDate} AND #{endDate} THEN price_total ELSE 0 END) as cost,
            SUM(CASE WHEN create_date BETWEEN #{startDate} AND #{endDate} THEN ad_estimated_commission ELSE 0 END) as adEstimatedCommission
        FROM
            ads.dsp_report_fall_one
        WHERE
        <foreach collection="bundles" item="item" index="index" open="(" close=")" separator="OR">
            (bundle_id = #{item.bundleId} AND ad_group_id = #{item.adGroupId})
        </foreach>
        GROUP BY
            ad_group_id, bundle_id
    </select>

    <select id="listBundleAdGroupData" resultType="com.tecdo.adm.api.doris.dto.BundleCost">
        select
            ad_group_id      as adGroupId,
            bundle_id        as bundleId,
            sum(imp_count)   as impCount,
            sum(click_count) as clickCount,
            SUM(price_total) / 1000 as cost
        from
            ads.dsp_report_fall_one
        where
            create_date >= #{startDate} and create_date &lt;= #{endDate}
        group by
            ad_group_id, bundle_id
    </select>

</mapper>
