<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tecdo.adm.api.doris.mapper.RequestMapper">

    <select id="countDevice" resultType="java.lang.String">
        select distinct count(*) from pac_dsp_request
        where report_date >= #{startDate} AND report_date &lt;= #{endDate}
        <if test="affiliates != null and affiliates.size > 0">
            and affiliate_id in
            <foreach collection="affiliates" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="countries != null and countries.size > 0">
            and country in
            <foreach collection="countries" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="deviceOSs != null and deviceOSs.size > 0">
            and os in
            <foreach collection="deviceOSs" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="inBundles != null and inBundles.size > 0">
            and bundle_id in
            <foreach collection="inBundles" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="exBundles != null and exBundles.size > 0">
            and bundle_id not in
            <foreach collection="exBundles" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
