<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="db.properties"/>

  <environments default="ms">
    <environment id="ms">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${ms-driver}"/>
        <property name="url" value="${ms-url}"/>
        <property name="username" value="${ms-username}"/>
        <property name="password" value="${ms-password}"/>
        <property name="poolPingEnabled" value="true"/>
        <property name="poolPingQuery" value="select 1"/>
        <property name="poolPingConnectionsNotUsedFor" value="60"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="mapper/*.xml"/>
  </mappers>

</configuration>